<!DOCTYPE html>
<html>
  <head>
    <title>Simple Shopping Cart with Tailwind</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-100">
    <div id="app" class="container mx-auto p-8">
      <h1 class="text-3xl font-extrabold mb-6">Produits disponibles</h1>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        <div class="bg-white p-4 rounded-lg shadow-md" v-for="product in products" :key="product">
          <h2 class="text-xl font-semibold mb-2">{{ product.name }}</h2>
          <p class="text-gray-600 mb-4">{{ product.price }}</p>
          <button
            class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700" @click="addToCart(product)"
          >
            Ajouter au panier
          </button>
        </div>
      </div>

      <h1 class="text-3xl font-extrabold mt-12 mb-6">Panier</h1>
      <ul class="bg-white p-4 rounded-lg shadow-md">
        <li class="flex items-center justify-between border-b py-4" v-for="productCart in cart" :key="productCart">
          <span class="text-lg font-medium">{{ productCart.name }}</span>
          <span class="text-gray-600">{{ productCart.price }}</span>
          <input
            type="number"
            v-model="productCart.quantity"
            class="w-16 text-center border rounded"
          />
          <button class="text-red-500 hover:text-red-600" @click="deleteFromCart(index)">Retirer</button>
        </li>
      </ul>
      <h2 class="text-2xl font-extrabold mt-6" >{{ totalPrice }}</h2>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script>
      const { createApp } = Vue

      createApp({
        data() {
          return {
            products : [
                {id : 1 , name : 'pied', price : 15},
                {id : 2 , name : 'gourde', price : 12.10},
                {id : 3 , name : 'sac à dos', price : 14},
                {id : 4 , name : 'échelle', price : 76.99},
            ],
            
            cart : JSON.parse(localStorage.getItem('cart')) || [],
            
          }
        },

        computed : {
          totalPrice(){
            return this.cart.reduce((t, productCart) => {
              return t + productCart.price * productCart.quantity;
            }, 0).toFixed(2);
          }
        },

        methods : {
          addToCart(product){
            
            const isInCart = this.cart.find(article => article.id === product.id);

            isInCart ? isInCart.quantity++ : this.cart.unshift({id:product.id, name: product.name, price: product.price, quantity: 1 });
          },
          deleteFromCart(index){
            this.cart.splice(index,1);
          },
          localStorageUpdate(){
            localStorage.setItem('cart', JSON.stringify(this.cart));
          }
        },
        watch : {
          cart: {
            handler(){
              this.localStorageUpdate();
            },
            deep : true,

          }
        }
      }).mount('#app')
    </script>

  </body>
</html>
